@model IEnumerable<WebApplication1.Models.Email>

@{
    ViewBag.Title = "Customer";
    ViewBag.Header = "Email Address";
    Layout = "~/Views/Shared/_CSRLayout.cshtml";
}

<table style="width: 100%;">
    <tr>
        <td style="text-align: left;"><b>@ViewBag.CustName</b></td>
        <td style="text-align: right;"><b>@Url.RequestContext.RouteData.Values["id"]</b></td>
    </tr>
</table>
<br />
<p>
    @Html.ActionLink("Create New", "Create", new { custNbr = "999999" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.emailAddress)
        </th>
        <th></th>
    </tr>
    @if (!Model.Any())
    {
        <tr><td>This customer has no associated e-mail addresses.</td></tr>
    }
    else { 
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.emailAddress)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    }

</table>

